
.DS_Store


# IDEA Project Files
/.idea/copyright
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/dictionaries/*.xml


# For some IDEA plugins
/*.xml

